<footer>
    <div class="f-container">
        <div class="f-social-media">
            <a href="https://www.linkedin.com/in/rohit-sharma-a8545b336/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/rohitsharma2-3"><i class="fa-brands fa-github"></i></a>
            <a href="https://classy-souffle-53b502.netlify.app/"><i class="fa-solid fa-address-card"></i></a>

        </div>
        <div class="f-copyright">
            &copy; VerifiedVilla Pvt Limited
        </div>
        <div class="f-privacy-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>