<% layout('/layouts/boilerplate') %>

    <div class="row mt-3">
      <div class="col-12 col-md-6 offset-md-3">
            <p class="alert alert-danger" role="alert">
                <%= message %>
            </p>
            <a href="/VerifiedVilla">Back to Home</a>
        </div>
    </div>